NET "xtal" TNM_NET = xtal;
TIMESPEC TS_xtal = PERIOD "xtal" 20 ns HIGH 50%;
NET "xtal" CLOCK_DEDICATED_ROUTE = true;

CONFIG VREF=D5;

NET "adquire_inst/i_ser_clk"  TNM_NET = FFS  FFS_i_ser_clk;
NET "adquire_inst/i_fs_clk"  TNM_NET = FFS  FFS_i_fs_clk;

TIMESPEC TS_ser2fs    = FROM FFS_i_ser_clk TO FFS_i_fs_clk  TIG;
TIMESPEC TS_fs2ser    = FROM FFS_i_fs_clk TO FFS_i_ser_clk  TIG;